{% extends 'base.html' %}
{% block title %}
  {{ project }}
{% endblock %}

{% block breadcrumb %}
  <li>
    <a href="{% url 'organization' organization.slug %}">{{ organization }}</a>
  </li>
  <li>
    <a href="{% url 'project' organization.slug project.slug %}">{{ project }}</a>
  </li>
{% endblock %}

{% block content %}
  <h1>{{ project }}</h1>
  <p>Total Project Contribution Value: {{ project.total_contribution_value }}</p>
  <p>Total Gross Project Revenue: {{ project.gross_revenue }}</p>
  <p>Total Net Project Revenue: {{ project.net_revenue }}</p>

  {% include 'sweat_tracker/components/contributions_list.html' with contributions=project.contributions.all %}
  {% include 'sweat_tracker/components/revenue_list.html' with revenue_items=project.revenue_items.all %}
{% endblock %}
